{% extends 'JCSf2TemplatesBundle::base.html.twig' %}

{% block body %}

{% block mainmenu %}
<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="brand" href="{{ path('homepage') }}">Curso Symfony2</a>
            <div class="nav-collapse collapse">
                <ul class="nav">       
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Intro.<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="{{ path('jc_sf2_fundamentos_homepage') }}">Texto</a></li>                            
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Fundamentos<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="{{ path('jc_sf2_fundamentos_texto') }}">Texto</a></li>                            
                        </ul>
                    </li>                    
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Controladores<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="{{ path('jc_sf2_control_rutas_rutas') }}">Rutas</a></li> 
                            <li><a href="{{ path('jc_sf2_control_rutas_articulos', {'_format': 'html'}) }}">Artículos en HTML</a></li>
                            <li><a href="{{ path('jc_sf2_control_rutas_articulos', {'_format': 'json'}) }}">Artículos en JSON</a></li>
                            <li class="divider"></li>
                            <li><a href="{{ path('jc_sf2_control_rutas_controller') }}">Controladores</a></li> 

                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Plantillas <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="{{ asset('bundles/jcsf2templates/twig.html') }}">Texto</a></li> 
                            <li><a href="{{ path('jc_sf2_templates_bootstrap') }}">Adaptación a bootstrap</a></li> 
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="{{ path('jc_sf2_los_servicios_homepage') }}" class="dropdown-toggle" data-toggle="dropdown">Los servicios <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="{{ path('jc_sf2_los_servicios_servicio_basico') }}">Ejemplo de servicio básico</a></li>
                            <li><a href="{{ path('jc_sf2_los_servicios_sakila_actores') }}">Ejemplo de servicio sobre base de datos</a></li>                            
                            <li><a href="{{ path('jc_sf2_los_servicios_sakilaorm_actores') }}">Ejemplo de servicio sobre base de datos con ORM</a></li>
                            <li><a href="{{ path('jc_sf2_los_servicios_sakila_invitacion', {id:1, to: 'juandalibaba@gmail.com'}) }}">Ejemplo de un servicio que depende del anterior servicio, del mailer y del templating</a></li>
                            <li><a href="{{ path('jc_sf2_los_servicios_sakila_invitacionconeventos', {id:1, to: 'juandalibaba@gmail.com'}) }}">Ejemplo de un servicio que depende del anterior servicio, del mailer y del templating (Eventos)</a></li>
                            <li><a href="{{ path('jc_sf2_los_servicios_insertar_actor') }}"> Event Listener sobre un evento de Doctrine</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="{{ path('jc_sf2_valy_forms_homepage') }}" class="dropdown-toggle" data-toggle="dropdown">validadores y formularios <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="{{ path('jc_sf2_valy_forms_homepage') }}">Texto</a></li>
                            <li class="divider"></li>
                            <li><a href="{{ path('jc_sf2_valy_forms_validacion') }}">Validación</a></li>
                            <li><a href="{{ path('jc_sf2_valy_forms_validacion_directa') }}">Validación directa</a></li>
                            <li class="divider"></li>
                            <li><a href="{{ path('jc_sf2_valy_forms_formularios_en_controlador') }}">Formularios en controlador</a></li>
                            <li><a href="{{ path('jc_sf2_valy_forms_formularios_en_su_clase') }}">Formularios en su clase</a></li>
                            <li><a href="{{ path('jc_sf2_valy_forms_formularios_envio') }}">Envío de formularios</a></li>
                            <li><a href="{{ path('jc_sf2_valy_forms_formularios_tiposwidgets') }}">Tipos de widgets</a></li>
                            <li><a href="{{ path('jc_sf2_valy_forms_formularios_embeddedForm') }}">Formularios embedded</a></li>
                            <li><a href="{{ path('jc_sf2_valy_forms_formularios_collectionForm') }}">Colecciones de formularios</a></li>
                        </ul>
                    </li>                    
                    <li class="dropdown">                        
                        <a href="{{ path('jc_sf2_orm_doctrine_homepage') }}" class="dropdown-toggle" data-toggle="dropdown">Doctrine <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="{{ path('jc_sf2_orm_doctrine_homepage') }}">Texto</a></li>
                            <li class="divider"></li>
                            <li><a href="{{ path('jc_sf2_orm_doctrine_persistir') }}">Persistencia de objetos</a></li>
                            <li><a href="{{ path('jc_sf2_orm_doctrine_modificar') }}">Modificación de objetos</a></li>
                            <li><a href="{{ path('jc_sf2_orm_doctrine_persistirRelaciones') }}">Persistir relaciones</a></li>
                            <li><a href="{{ path('jc_sf2_orm_doctrine_dql') }}">Ejemplos de consultas DQL</a></li>
                            <li><a href="{{ path('jc_sf2_orm_doctrine_dql_en_repositorio') }}">Ejemplo de consulta en repositorio</a></li>

                        </ul>
                    </li>      
                    <li class="dropdown">                        
                        <a href="{{ path('jc_sf2_seguridad_homepage') }}" class="dropdown-toggle" data-toggle="dropdown">Seguridad<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="{{ path('jc_sf2_seguridad_no_segura') }}">Zona no segura</a></li>
                            <li><a href="{{ path('jc_sf2_seguridad_homepage') }}">Zona segura (registrados)</a></li>
                            <li><a href="{{ path('jc_sf2_seguridad_admin') }}">Zona segura (admin)</a></li>
                        </ul>
                    </li>      
                </ul>
            </div><!--/.nav-collapse -->
        </div>
    </div>
</div>

{% endblock %}

<div id="wrap">

    <!-- Begin page content -->
    <div class="container">
        {% block container %}{% endblock%}
        </div>
    
    </div>

    {% block footer %}
    <hr/>
    <footer>
        <div class="container">
            <p>Curso de Symfony2 by <a href="http://juandarodriguez.es">juandarodriguez.es</a></p>
        </div>
    </footer>
    {% endblock %}

{% endblock %}

