{% extends 'JCSf2TemplatesBundle::layout.html.twig' %}

{% block container %}
<h1>Cómo modificar en la base de datos un objeto existente</h1>

<h3>Se ha modificado en la base de datos la persona con id={{ persona.id }}:</h3>

<h4>Datos antiguos</h4>
<table class="table">
    <tr>
        <th>Nombre</th>        
        <th>Apellidos</th>
    </tr>    
    <tr>
        <td>{{ personaCopy.nombre }}</td>
   
        <td>{{ personaCopy.apellidos }}</td>
    </tr>

</table>

<h4>Datos nuevos</h4>
<table class="table">
    <tr>
        <th>Nombre</th>        
        <th>Apellidos</th>
    </tr>    
    <tr>
        <td>{{ persona.nombre }}</td>
   
        <td>{{ persona.apellidos }}</td>
    </tr>

</table>
{% endblock %}
